body {
    height: 100vh;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100%;
}

.list {
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    margin-right: 4px;
}
